.rescal {
    padding: 10px 0;
}

.rescal td, .rescal th {
    border-bottom: 2px solid #fff;
    min-height: 40px;
    font-size: 10px;
    vertical-align: top;
    background-color: #f0f0f0;
    border-radius: 4px;
    min-width: 48px;
}

.rescal th {
    text-align: center;
    vertical-align: middle;
    background-color: #31708f;
    color: #fff;
}

.Pending {
    background-color: #faf2cc;
    color: #3c3c3c;
}
.Cancelled {
    background-color: #f2dede;
    color: #3c3c3c;
}
.Claimed {
    background-color: #c1e2b3;
    color: #3c3c3c;
}
.reserve {
    cursor: pointer;
    position:relative;
    margin: 2px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 2px;
    left: 50%;

}

.reserve:hover {
    z-index:100;
}

.reserve.extendleft {
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left:0;
}

.reserve.extendright {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.reserve.extendleft.extendright {
    left: 0;
    border-radius: 0;
}

.rm-col-hdr {
    width: 60px;
}

.rescal .ui-selecting { background: #FECA40; }
.rescal .ui-selected { background: #F39814; color: white; }

.form,
.form-control,
.btn {

}

.reserve-details {
    font-size: smaller;
}

.panel-body {
    padding: 8px;
}

.error {
    color: red;
    border: 1px solid red;
}